slepeweb-site-delivery/src/main/webapp/resources/wsdl/password.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://server.ws.slepeweb.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://server.ws.slepeweb.com/">

<xs:element name="getPassword" type="tns:getPassword"/>

<xs:element name="getPasswordResponse" type="tns:getPasswordResponse"/>

<xs:element name="password" type="tns:password"/>

<xs:complexType name="getPassword">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPasswordResponse">
<xs:sequence>
<xs:element name="return" type="tns:password" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="password">
<xs:sequence>
<xs:element name="seed" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>